{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="">
	  <meta name="author" content="">
	  <title>Login</title>
    <link rel="shortcut icon" href="{%  static 'DSS/images/favicon.ico' %}">
	  <!-- Custom fonts for this template-->
	  <link href={% static 'DSS/css/fontawesome-free/css/all.min.css' %} rel="stylesheet" type="text/css">
	  <!-- Custom styles for this template-->  
	  <link href={% static 'DSS/css/login_style.css' %} rel="stylesheet">
	  <link href={% static 'DSS/css/bootstrap.css' %} rel="stylesheet">
	</head>

<body class="login-bg">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
 

        <!-- End of Topbar -->
		<div class="container">
			<div class="row">
			 <div class="col-md-12">
			 <!---------===========-----Dummy table-----===========-------->
				<main class="login-form mt15">
    <div class="cotainer">
       <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
			  <div class="card-header login-header">
			    <img src={% static 'DSS/images/pv-signal-logo.png'%} class="img-responsive w-15"/>
		       <span class="login-span">Log in</span>
			  </div>
                    <div class="card-body card-login pb7">
                        <form method="post">
                          {% csrf_token %}
                            <div class="form-group row">
                                <!--<label for="user_name" class="col-md-4 col-form-label text-md-right">user_name Address</label>-->
                                <div class="col-md-12">
                                    <input type="text" id="user_name" class="form-control" name="username" placeholder="username" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <!--<label for="password" class="col-md-4 col-form-label text-md-right">Password</label>-->
                                <div class="col-md-12">
                                    <input type="password" id="password" class="form-control" name="password" placeholder="password" required>
                                </div>
                            </div>

                            <!--<div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-success">
                                    Register
                                </button>
                                <!---<a href="#" class="btn btn-link">
                                    Forgot Your Password?
                                </a>
                            </div>-->
                    </div>
					
				<div class="card-header login-footer" style="border-radius:0 0 4px 4px;">
				<button type="submit" class="btn btn-success login-button">Log in</button>
                </div>
                    </form>
                </div>
                    {% if form.errors %}
                        <div class = "alert alert-warning alert-dismissible">
                            Username or Password is incorrect. Please try again or contact the Administrator
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>
   </div>
</main>
			 <!---------===========-----Code End--------===========-------->
			  </div>
			</div>
		</div>
   </div>
     
      <!-- Footer -->
  
  <!-- Bootstrap core JavaScript-->
  <script type="text/javascript" src={% static 'DSS/js/jquery.min.js' %}></script>
  <script type="text/javascript" src={% static 'DSS/js/bootstrap.bundle.min.js' %}></script>
  
  
</body>
</html>