<table id="case-drill-down-table" class="row-border hover" width="100%">
    <thead>
    <tr>
        <th>Case Num</th>
        <th>Primary Product Name</th>
        <th>Generic Name</th>
        <th>PT</th>
        <th>SOC</th>
        <th>Listedness</th>
        <th>Outcome</th>
        <th>Seriousness</th>
        <th>Determined Causality</th>
        <th>Reported Causality</th>
    </tr>
    </thead>
</table>
