<table id="evdas-case-drill-down-table" class="auto-scale row-border no-shadow hover dataTable no-footer" width="100%">
    <thead>
    <tr>
        <th>Case Number</th>
        <th>WWID</th>
        <th>HCP</th>
        <th>Age Group</th>
        <th>Gender</th>
        <th>Receipt Date</th>
        <th>Source Country</th>
        <th>Suspected Drug</th>
        <th id="susp-add-info">Suspect Drugs w/Additional Info</th>
        <th>Con-Med</th>
        <th id="con-med-info">ConMed Drugs w/Additional Info</th>
        <th>Event Terms</th>
        <th id="event-term-info">Event Terms w/Additional Info</th>
        <th>ICSR Forms</th>
    </tr>
    </thead>
</table>
