<table class="child-data-table">
    <tr class="">
        <td>Abstract :</td>
        <td>
        {{#each articleAbstract}}
                        <div>
                            <span style="font-weight:bold">{{heading}}</span>
                            <span style="word-break:break-word">{{text}}</span>
                            <br/>
                        </div>
        {{/each}}
        </td>
    </tr>
</table>