<a tabindex="0" title="Edit" data-id="{{id}}" class="editProductRule showOk" style="cursor: pointer"><i
                class="mdi mdi-pencil font-18 grey-2"></i></a>
<a tabindex="0" title="Update" data-id="{{id}}" class="saveProductRule noShow" style="display: none;cursor: pointer"><i
        class="mdi mdi-check font-18 grey-2"></i></a>
<a tabindex="0" title="Delete" data-id="{{id}}"
   class="btn-add-row deleteProductRule showOk" style="cursor: pointer"><i
        class="mdi mdi-close font-18 grey-2"></i></a>