<table class="child-data-table">

    <tr class="">
                    <td>Categories:</td>
                    <td style="word-break: normal !important;">
                    <pre class="pre-detailed-view">{{alertTags}}</pre></td>
    </tr>
    <tr class="">
                    <td class="col-min-150">All Suspect Products:</td>
                    <td>{{productList}}</td>
    </tr>
    <tr class="">
                <td>All PTs:</td>
                <td style="word-break: normal !important;">
                <pre class="pre-detailed-view">{{allPt}}</pre></td>
            </tr>
    <tr class="">
            <td>All Conmeds:</td>
            <td style="word-break: normal !important;">
            <pre class="pre-detailed-view">{{conMeds}}</pre></td>
    </tr>
</table>