<script>
    $(document).ready(function() {
        var tooltips = $("[title]").tooltip({
            position: {
                my: "left bottom",
                at: "right+5 top-5",
                collision: "none"
            }
        });
    })
</script>
<div class="panel-group m-b-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title text-no-uppercase">Existing Signals</h4>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-curved table-hover">
                <tr class="odd">
                    <th>Signal Name</th>
                    <th>Priority</th>
                    <th>Strategy</th>
                    <th>Signal Creation Date</th>
                </tr>
                {{#each existingSignals}}
                    <tr class="even">
                        <td>{{signalName}}</td>
                        <td>{{priorityAndUrgency}}</td>
                        <td>{{strategy.name}}</td>
                        <td>{{creationDate}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>



