{{#if isAdmin}}
<div class="hidden-btn btn-group dropdown dataTableHideCellContent" align="center">
    <a class="btn btn-success btn-xs delete-signal-button" href="#" data-instanceid="{{obj_id}}" signal-name="{{obj_name}}" >{{delete_signal_display}}</a>
</div>
{{/if}}