unstructured/models
unstructured/extdata/bert_models
api/logdir/timed_log.log
api/__pycache__
structuredForms/py_cioms/__pycache__
unstructured/__pycache__
api/config/api-config.ini
**/.idea
unstructured/.idea
unstructured/logs
unstructured/config/__pycache__
unstructured/logs/unstructure_log.log

**/*_env
**.~lock*
**.idea/*
**.vscode/*
**/__pycache__
unstructured/logs/*
.DS_Store
models_1